@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --olive: #756E37ff;
    --persian-orange: #D78C61ff;
    --caput-mortuum: #5B2E1Eff;
    --field-drab: #6C6431ff;
    --burnt-umber: #843A2Aff;
}